<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      <%= render_existing view_module(@conn), "title", assigns %>
    </title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="/images/donegood-icon.png" sizes="16x16" type="image/png">
  </head>

  <body>
    <div class="container wrapper">
      <header class="header">
        <nav role="navigation">
        </nav>
        <span class="pull-right">
          <%= render_existing view_module(@conn), "toolbar_right", conn: @conn %>
        </span>
        <a href="/">
          <span class="logo"></span> Donegood
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
        <div id="react-app">

        </div>
      </main>
      <div class="push">
      </div>
    </div> <!-- /container -->
    <footer>
      <div class="container">
        <%= render "_current_user.html", current_user: @current_user, conn: @conn %>
      </div>
    </footer>

    <!-- TODO: fix these big remote API requests -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
