<h1>Profile</h1>
<%= render "_summary.html", user: @user %>

<h3>Deeds</h3>
<%= for deed <- @user.deeds do %>
<div class="deed">
  <%= deed.title %>
  <%= deed.when %>
</div>
<% end %>

<h3>Wellbeings</h3>
<div class="wellbeings">

</div>
