<h2>Welcome to Donegood!</h2>
<p>
  We think this app will imporove your life. To prove this, we want to record your current wellbeing so we can compare later.
</p>
<p>
  <a href="wellbeings/new" class="btn btn-primary">Track your happiness</a>
</p>
<p>
  Or you could jump right in and <a href="deeds/new">write down a good deed</a>.
</p>
